<div class="row">
  <div class="well col-sm-6 col-sm-offset-3" style="margin-top: 10px;">
    <div class="chat-log col-sm-12">
      <ul id="chat-log-ul">
      </ul>
    </div>
  </div>

  <div class="chat-area col-sm-6 col-sm-offset-3">
    <textarea id="chat-input" class="form-control" style="margin-bottom: 10px; width: 100%; height: 100px;"></textarea>
    <button class="btn btn-info btn-block" id="submit-button" style="margin-bottom: 10px;">Submit!</button>
  </div>
</div>
